@model IEnumerable<DRGPetShop.MVC.Models.Behaviour>

<div class="container p-3">
    <div class="rpw pt-4 d-flex">
        <div class="col-6">
            <h2 class="text-primary">Behaviour Types List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Behaviour" asp-action="Create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> &nbsp; Create New Behaviour Type
            </a> 
        </div>
    </div>

    <br />

    @if (Model is not null && Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Behaviour Type Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="50%">@item.Name</td>
                        <td class="text-center" width="30%">
                            <div class="w-75 btn-group" role="group">
                                 <a asp-controller="Behaviour" asp-route-Id="@item.Id" asp-action="Edit" class="btn btn-primary mx-2"> 
                                     <i class="fa-solid fa-pen-to-square"></i></a> 
                                  <a asp-controller="Behaviour" asp-route-Id="@item.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                      <i class="fa-solid fa-trash-can"></i></a> 
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There's nothing :(</p>
    }
</div>

